
@media screen and (max-width: 320px) {
   .form-check-label{
      display: flex;
      align-items: center;
   }
   .alert{
      top: 10px!important;
      font-size: 12px;
   }
   .sign-box{
      margin-top: 10px!important;
      margin-bottom: 10px!important;
   }
   .m-body{
      display: block!important;
      height: 720px!important;
   }
   #div-icon{
      display: none!important;
   }   
   .m-header{
      justify-content: center!important;
      height: 60px!important;
      padding: 10px!important;
      font-style: italic;
      font-weight: bold;
   }
   #m-header>h3{
      display: none!important;      
   }
   #m-header>div{
      display: block!important;
   }
   #check-btn{
      font-size: 8px;
      flex-direction: column!important;
   }
   #check-btn>.form-check{
      padding-bottom: 20px!important; 
   }
   .form-check{
      display: flex!important;
      justify-content: center!important;      
   }
   .tooltip-inner {        
      right: 0px!important;      
   }
   .btn-mod{
      align-self: center!important;
   }
   .difLine{
      display: none!important;
   }
   .f-reg{
      padding: 0px!important;     
   }
   .register{
      padding-top: 10px!important; 
   }
   .btn-2{
      justify-content: center!important;
   }
   .f-reg-title{
      display: flex;
      justify-content: center;
   }
   .login{
      padding-right: 15px !important;
   }
   #hr{
      display: block!important;
   }
}

.alert{
   margin: 0px;
   top: 20px;
}
.tooltip.show {
   text-align:left;
 }
 .tooltip .arrow::before {  
   display: none;
}
.tooltip-inner {  
   position: relative;
   right: 70px; 
   text-align: left;  
   font-size: 10px;
   max-width: 310px;
   padding: 10px;
   color:  #6c757d;  
   text-align: start;
   background-color: #fff;
   border-radius: .25rem;border: 1px solid;
   border-radius: 8px;
   border-color: #c0c0c0;
}
::placeholder {      
   font-size: 16px!important;
   opacity: 0.5!important;
 }
.sign-box{
   font-family: "Trebuchet MS", Helvetica, sans-serif;
   max-width: 700px;
   float: none;
   margin: 25px auto;
   border: 1px solid;
   border-radius: 8px;
   border-color: #c0c0c0
}
.m-header{
   height: 115px;
   border-radius: 8px 8px 0 0;
   border-color: #c0c0c0
}
.m-body{   
   height: 385px;
   border-radius: 8px;
}
.m-body-login-top{   
   width: 100%;
   height: 1px;
   margin-top: 36px;
   background: #c0c0c0;
   background:linear-gradient(to right,#fff, #c0c0c0 50%, #fff);
}
.div-icon{
   display: block;
   height: 65px;
   width: 65px;
   -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50%;
   background-color: #128a9c;
}
.btn-mod{
   width: 120px;
   border-radius: 8px;
}
.grad-1 {   
   background: #007bff;
   background: linear-gradient(to bottom right,#083e79 30%, #73aae6 70%);
   color: white;
 }
 .grad-2{
   background: #007bff;
   background: linear-gradient(to bottom right,#a14202 30%, #d6aa4a 70%);
   color: white;
 }
 .span-checkbox{
    font-size: 12px;
 }
 .m-login-abs{
   position: absolute;
   top: 23px;
   z-index: 100;
   height: 25px;
   width: 25px;
   -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
   border-radius: 50%;
   border: 1px solid silver;  
   background-color: #DCDCDC;   
 }
 .span-login-abs{
    color:  #A9A9A9
 }
 .difLine{
   height: 275px;
   width: 1px;   
   background: #dfdede;
   padding: 0px;
   position: absolute;
   top: 50px;
 }

